body {
    font-family: sans-serif;
    font-size: 1em;
}

div.content {
    margin:auto;
    width: 80%;
}

.left, .right {
    display: inline-block;
    width: 45%;
    margin:0;
    padding:0;
}

.left {
    left:0;
}

.right {
    position:fixed;
    top:0;
    margin-top:0;
    right:5rem;
    margin-right:0;
    text-align: right;
}

select {
    display: block;
    margin: 1rem 0 1rem 0;
}

textarea {
    display: block;
    margin-bottom: 2rem;
}

.results {
    position: relative;
    top: 2rem;
}

.filtros {
    position: sticky;
    top:-5rem;
    margin:0;
    padding:0;
    float: both;
}
.filtros h4 {
    display: inline-block;
}

.history {
    width:100%;
    position: sticky;
    top:0rem;
    margin:0;
    padding:0;

}

.history pre {
    display: inline-block;
}

.history button {
    display: inline-block;
    margin-left: 1rem;
}
